{% extends 'blog/base.html' %}
{% load blog_tags %}

{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}

<div class="mt-5">
{%block title%}News Desk{%endblock title%}
</div>

{%block content%}
<div class="container mt-5">

  <div class="mt-5">
    <h2 class="text-center mt-5">
    FeedCreator: Article generator
    </h2>
  </div>


  <article class="">
    Hello, and welcome to FeedCreator.
    <p>
      Here, we create articles and tag them as published, draft and give an optional tag based on the topic.
    </p>
    <p>
      I'm created with django jinja templating and it's been a while, so bear while we style up.
    </p>
    <p>
      Regards,
    </p>
    <p  style="cursor: pointer;color: blue;" href="https://marvinkweyu.net"
                    target="_blank"
                    rel="noopener">
      Marvin Kweyu
    </p>

  </article>
  <!-- <div class="list-group list-group-flush">
    {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
    <section class="list-group-item list-group-item-action">
      <div>
        <h2>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
      </div>
      <p class="tags">
        <small>Tags:
          {% for tag in post.tags.all %}
          <!-- {{post.tags.all | join:", "}}</p> -->

          <!-- <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </small>

      <p class="date">
        Published {{ post.publish }} by {{ post.author }}
      </p> -->

      <!-- {{ post.body| truncatewords:30|linebreaks}} -->
      <!-- {{ post.body |markdown| truncatewords_html:70 }} -->

    <!-- </section> -->
    <!-- {%endfor%} -->
  <!-- </div> -->

  <!-- use page = page_obj due to class based view.Else use page=posts as per context in function view -->
  <!-- {% include 'blog/pagination.html' with page=posts %} -->
</div>

{%endblock content%}