{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}

{%block title%}Share post{%endblock title%}

{% block content %}
<div class="container">
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{post.title }}" was sucessfully sent to {{form.cleaned_data.to}}.
        </p>
    {% else %}
        <h1>Share "{{post.title}}"  by e-mail</h1>
        <form method="post" action=".">
            <!-- avoid cross-site requst forgery -->
            {% csrf_token %} 
{#            {{form.as_p}}#}
            {% bootstrap_form form layout="horizontal" %}
            <input type="submit" value="Send e-mail" class="btn btn-primary">
        </form>
    {% endif %}

</div>
{% endblock content %}