{% extends 'blog/manage/base_management.html' %}
{% load blog_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}


{%block title%}Sample{%endblock title%}

{%block content%}
    <br/><br/><br/>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
{#            <p><input type="submit" value="Publish Post"></p>#}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Publish post</button>
        {% endbuttons %}
        </form>


{%endblock content%}



