{% extends 'blog/base.html' %}
<!-- template for ManageCourseListView -->
{% block title %}My Posts{% endblock title %}

{% block content %}
<h1>My Posts</h1>

<div class="module">
    {% for post in object_list %}
        <div class="course-info">
            <h3>{{ post.title }}</h3>
            <p>
                <a href="{% url 'management:post_edit' post.id %}">Edit</a>
                <a href="{% url 'management:post_delete' post.id %}">Delete</a>
{#                <a href="{% url 'post_edit' post.id %}">Edit modules</a>#}
                <!-- access contents of first module if any -->
    {#            {% if course.modules.count > 0 %}#}
    {#                <a href="{% url 'module_content_list' course.modules.first.id %}">Manage contents</a>#}
    {#            {% endif %}#}
            </p>
        </div>
    {% empty %}
    <p>You haven't created any posts yet</p>
    {% endfor %}
    <p>
        <a href="{% url 'management:post_create' %}" class="button">Create new Post</a>
    </p>
</div>
{% endblock content%}

